$card-margin: 0px;

.card {
    //box-shadow: 0 0  10px $dark-gray;

    .card-btn {
        text-align: center;
    }

    .card-img{
        //display: block;
        height: 400px;
        width: auto;
        object-fit: cover;
    }
}

.card-wrapper {
    margin: $card-margin;
}
