.my-header {
    color: $white;
    background-color: $primary-color;
}

.menu{
    color: $white;
    font-size: 100%;

    a{
        color: white
    }

    a:hover{
        color: $black;
        background-color: $white
    }

    .my-menu-text{
        font-weight: bold;
    }
}

.title-bar{
    background: $primary-color;
    width: 100%;
}
