$hero-height: 600px;
$padding: 20px;

.hero-section {
  background: url('../img/selfie.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $padding;
  padding-bottom: $padding;
  margin: $padding;
  //margin-bottom: $padding;
  box-shadow: 0 0 10px $black;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}


