$hero-height: 40vh;

.hero-section {
  background: url('../img/hero.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 100px $dark-gray;
}

.hero-section-text {
    color: $black;
    text-shadow: 0px 0px 2px $black;
    text-align: center;
}

