<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-2">

        {{#each posts.cards}}
        <div class="cell">
            <div class="card">
                <img src="assets/img/{{img}}">
                <div class="card-section">
                    <h3>{{card-title}}</h3>
                    <p>{{card-body}}</p>
                    <div class="card-btn">
                        <a class="button large primary" href="#">Mehr lesen</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
