<!-- <div class="grid-container fluid my-header">
     <div class="grid-x grid-padding-x grid-padding-y">
     <div class="large-12 cell">
     <h1>Norwegen Sommer 2020</h1>
     </div>
     </div>
     </div> -->



<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Orte</div>
</div>


<div data-sticky-container>
    <div class="top-bar" id="responsive-menu" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <ul class="vertical large-horizontal menu" data-dropdown-menu>
                <li class="my-menu-text"> <a href="{{root}}/index.html" class="menu-anchor"> Norwegen 2020 </a></li>
                {{#each header.places}}
                <li {{#ifpage pname}}class="is-active"{{/ifpage}}> <a href="{{root}}/{{pname}}.html" class="menu-anchor">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
